{% extends "layout.html" %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="row">
    <div class="col-4"><img src="static/images/profil.png" width="164px"></div>
    <div class="col-8">
        <h2>Profil</h2>
        <table class="table">
            <tr><th>Nama Lengkap</th><td>Me</td></tr>
            <tr><th>Pendidikan</th><td>Education</td></tr>
            <tr><th>Phone Number</th><td>+62 857</td></tr>
            <tr><th>Email</th><td>me@gmail.com</td></tr>
        </table>
    </div>
</div>
{% endblock%}

